.frame-icon4,
.vector-icon23 {
  position: absolute;
  height: 61%;
  width: 31.62%;
  top: 38.94%;
  right: 68.38%;
  bottom: 0.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-icon4 {
  height: 95.76%;
  width: 35.57%;
  top: 10%;
  right: -6.61%;
  bottom: -5.76%;
  left: 71.04%;
}
.cta21,
.cta22 {
  position: absolute;
  height: 3.98%;
  width: 6.72%;
}
.cta21 {
  top: 87.07%;
  right: 53.91%;
  bottom: 8.95%;
  left: 39.38%;
  opacity: 0.8;
}
.cta22 {
  top: 87.47%;
  right: 43.28%;
  bottom: 8.54%;
  left: 50%;
}
.nsdl-benpos-file-updation {
  position: absolute;
  height: 6.67%;
  width: 44.38%;
  top: 13.06%;
  left: 25.16%;
  font-size: var(--text-xl-medium-size);
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 1px #000;
}
.companys-name8,
.name2 {
  line-height: 28px;
  display: inline-block;
}
.companys-name8 {
  position: absolute;
  height: 33.33%;
  width: 100%;
  top: 1.19%;
  left: 0;
}
.name2 {
  position: relative;
}
.frame8,
.ob-formscompanys-name2 {
  position: absolute;
  overflow: hidden;
}
.frame8 {
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--white2);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--color-gray-700);
}
.ob-formscompanys-name2 {
  height: 8.89%;
  width: 78.54%;
  top: 36.77%;
  right: 19.38%;
  bottom: 54.34%;
  left: 2.08%;
}
.frame9 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
}
.ob-formsaddress6 {
  position: absolute;
  height: 7.78%;
  width: 47.66%;
  top: 45.56%;
  right: 26.82%;
  bottom: 46.67%;
  left: 25.52%;
  overflow: hidden;
  text-align: left;
}
.icon6 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.back3 {
  border-radius: var(--br-2xs);
  border: 1px solid var(--neutral-200);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  align-items: center;
  justify-content: center;
}
.title3 {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.top3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.icon7 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.paragraph3 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.container5,
.content5,
.cta23 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta23 {
  border-radius: var(--br-2xs);
  background-color: var(--success-green-700);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
}
.container5,
.content5 {
  align-self: stretch;
  flex-direction: column;
}
.content5 {
  gap: var(--gap-xs);
}
.container5 {
  flex: 1;
  border-radius: var(--br-2xs);
  background-color: var(--white2);
  border: 1px dashed var(--neutral-200);
  box-sizing: border-box;
  padding: var(--padding-xl);
  text-align: center;
  font-size: var(--body-medium-size);
}
.or1,
.upload3 {
  position: absolute;
}
.upload3 {
  height: 26.16%;
  width: 34.58%;
  top: 57.88%;
  right: 33.8%;
  bottom: 15.96%;
  left: 31.61%;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  text-align: left;
  color: var(--neutral-800);
  font-family: var(--font-manrope);
}
.or1 {
  height: 2.83%;
  width: 7.08%;
  top: 55.45%;
  left: 43.18%;
  font-family: var(--font-montserrat);
  display: inline-block;
}
.date-picker8,
.graph8 {
  position: absolute;
  top: 347px;
  left: 909px;
}
.graph8 {
  top: 90px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 990px;
  overflow: hidden;
}
.stock-1-icon9 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.stoxx9 {
  position: absolute;
  top: 28px;
  left: 163px;
  letter-spacing: 0.06em;
  line-height: 30px;
  display: inline-block;
}
.frame-div30 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 375px;
  height: 87px;
  overflow: hidden;
}
.button10 {
  flex: 1;
  cursor: pointer;
}
.buttons9,
.right11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons9 {
  width: 151px;
  flex-shrink: 0;
}
.right11 {
  position: absolute;
  top: calc(50% - 22px);
  right: 71px;
}
.help-dropdown10 {
  position: absolute;
  top: 16px;
  left: 1191px;
  opacity: 0.7;
}
.file-dropdown9,
.report-dropdown9,
.upload-dropdown9 {
  position: absolute;
  top: 16px;
  left: 1015px;
  opacity: 0.7;
}
.file-dropdown9,
.upload-dropdown9 {
  left: 839px;
  mix-blend-mode: normal;
}
.file-dropdown9 {
  left: 663px;
}
.navbar9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white2);
  width: 1920px;
  height: 90px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--primary);
  font-family: var(--font-josefin-sans);
}
.nsdl-upload {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--title-medium-size);
  color: var(--color-black);
  font-family: var(--display-sm-semibold);
}
