.stock-1-icon11 {
  position: absolute;
  top: 0;
  left: 31px;
  width: 87px;
  height: 87px;
  object-fit: cover;
}
.stoxx11 {
  position: absolute;
  top: 28px;
  left: 163px;
  letter-spacing: 0.06em;
  line-height: 30px;
  display: inline-block;
}
.frame-div32 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 375px;
  height: 87px;
  overflow: hidden;
}
.button12 {
  flex: 1;
  cursor: pointer;
}
.buttons11,
.right13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons11 {
  width: 151px;
  flex-shrink: 0;
}
.right13 {
  position: absolute;
  top: calc(50% - 22px);
  right: 71px;
}
.help-dropdown12 {
  position: absolute;
  top: 16px;
  left: 1191px;
  opacity: 0.7;
}
.report-dropdown11,
.upload-dropdown11 {
  position: absolute;
  top: 16px;
  left: 1015px;
  opacity: 0.7;
}
.upload-dropdown11 {
  left: 839px;
  mix-blend-mode: normal;
}
.navbar11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white2);
  width: 1920px;
  height: 90px;
  overflow: hidden;
}
.rectangle-icon10 {
  position: absolute;
  top: 242px;
  left: 1076px;
  width: 893px;
  height: 797px;
  opacity: 0.5;
  background-color: #ecf4fd;
}
.vector-icon25 {
  position: absolute;
  height: 61%;
  width: 31.62%;
  top: 38.94%;
  right: 68.38%;
  bottom: 0.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subtract-icon {
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}
.next-invest-has-already-paid-o,
.welcome-to-stoxx {
  position: relative;
  line-height: 64px;
  display: inline-block;
  width: 570px;
}
.next-invest-has-already-paid-o {
  font-size: var(--font-size-2xl);
  line-height: 32px;
  color: var(--grey-2);
}
.title5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.this-chart-displays-payments-r {
  align-self: stretch;
  position: relative;
  font-size: var(--secondary-medium-size);
  line-height: 16px;
  color: var(--grey-2);
  display: none;
}
.content6 {
  position: absolute;
  top: calc(50% - 171px);
  left: 607px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.graph10 {
  position: absolute;
  top: 80px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 1000px;
  overflow: hidden;
  font-size: 48px;
  color: var(--grey-1);
}
.welcome {
  position: relative;
  background-color: var(--white2);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--primary);
  font-family: var(--font-josefin-sans);
}
